<div class="container">
	<div id="header">
		<h1>質問の投稿</h1>
  </div>

  <div class="row">	
		<%= form_for @ask, :url => "/ask/create" do |f| %>
			<p>タイトル : <br />
			<%= f.text_field :title %></p>
			<%= f.fields_for :response do |f1| %>
				本文 : <br />
				<%= f1.text_area :body, :cols => "120", :rows => "25" %>
				<br />
			<% end %>
			<%= f.submit "送信" %>
		<% end %>
	</div>
</div>
