<ul class="breadcrumb">
  <li>
  <a href="/wiki/<%= params[:id] %>/index">Wiki</a>
    <span class="divider">/</span>
  </li>

  <li>
    <a href="/wiki/<%= params[:id] %>/new">Wikiの新規作成</a>
    <span class="divider">/</span>
  </li>

  <li>
    <a href="/wiki/<%= params[:id] %>/new">ページを作成</a>
    <span class="divider">/<span>
  </li>

  <li>
  <% if params[:sub_id].nil? %>
    <a href="/wiki/<%= params[:id] %>/edit">ページの編集</a>
  <% else %>
    <a href="/wiki/<%= params[:id] %>/<%= params[:sub_id] %>/edit">ページの編集</a>
  <% end %>
  </li>
</ul>
