<%= link_to "トップページに戻る", "http://localhost:3000/" %>

<%# Wiki の新規作成 %>
<%# /wiki/index %>
<% if params[:id].nil? %>
	<%= link_to "Wikiを新規作成", "/wiki/new" %>

	<h1>Wiki一覧</h1>	

	<table>
		<tr>
			<th>Wiki番号</th>
			<th>Wikiタイトル</th>
			<th>作成時間</th>
			<th>更新時間</th>
		</tr>

		<% @wikis.each_with_index do |wiki, i| %>
			<tr>
				<td><%= wiki.id %></td>
				<td><%= link_to wiki.title, "/wiki/#{wiki.id}/index" %></td>
				<td><%= wiki.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
				<td><%= wiki.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
			</tr>
		<% end %>
	</table>
<%# Wikiのページの新規作成 %>
<%# /wiki/:id/new %>
<% else %>
	<%= link_to "Wikiの一覧に戻る", "/wiki/index" %>
	<%= link_to "トップページを編集", "/wiki/edit" %>
	<%= link_to "ページを新規作成", "/wiki/#{params[:id]}/new" %>

	<center>
		<h1><%= @wiki.title %></h1>	
	</center>
	<% toppage = Wikipage.find(:first, :conditions => {:wiki_id => params[:id], :wikipage_id => 1}) %>
	<%= toppage.body.html_safe %>
	<table>
		<tr>
			<th>ページID</th>
			<th>ページタイトル</th>
		</tr>
		<% @wikipages.each_with_index do |wikipage, i| %>
			<% if wikipage.wikipage_id != 1 %>
				<td><%= wikipage.wikipage_id %></td>
				<td><%= link_to wikipage.title, "/wiki/#{wikipage.wiki_id}/#{wikipage.wikipage_id}/show" %></td>
			<% end %>
		<% end %>
	</table>
<% end %>
