<%= link_to "トップページに戻る", "http://localhost:3000/" %>

<% if params[:id].nil? %>
	<%= link_to "Wikiを新規作成", "/wiki/new" %>

	
	<h1>Wiki一覧</h1>	

	<table>
		<tr>
			<th>Wiki番号</th>
			<th>Wikiタイトル</th>
			<th>作成時間</th>
			<th>更新時間</th>
		</tr>

		<% @wikis.each_with_index do |wiki, i| %>
			<tr>
				<td><%= wiki.id %></td>
				<td><%= link_to wiki.title, "/wiki/#{wiki.id}/index" %></td>
				<td><%= wiki.created_at %></td>
				<td><%= wiki.updated_at %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<%= link_to "Wikiの一覧に戻る", "/wiki/index" %>
	<%= link_to "トップページを編集", "/wiki/edit" %>
	<%= link_to "ページを新規作成", "/wiki/#{params[:id]}/new" %>

	<center>
		<h1><%= @wiki.title %></h1>
	</center>
	<% toppage = Wikipage.find(:first, :conditions => {:wiki_id => params[:id], :wikipage_id => 1}) %>
	<%= toppage.body.html_safe %>
<% end %>
