<%# Wiki の一覧 %>
<%# /wiki/index %>
<% if params[:id].nil? %>
	<div class="container">
		<div id="header">
      <h1>まとめ一覧</h1>
		</div>
		

  	<div class="row">
			<table class="table table-striped">
				<tr>
					<th>まとめ番号</th>
					<th>タイトル</th>
					<th>作成時間</th>
					<th>更新時間</th>
				</tr>

				<% @wikis.each_with_index do |wiki, i| %>
					<tr>
						<td><%= wiki.id %></td>
						<td><%= link_to wiki.title, "/wiki/#{wiki.id}/index" %></td>
						<td><%= wiki.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td><%= wiki.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
<%# Wikiを表示 %>
<%# /wiki/:id/index %>
<% else %>
  <div class="container">
    <%= render :partial => "list" %>

    <center> 
      <h1><%= @wiki.title %></h1>
    </center>
    <div class="row">
      <div class="span3">
        <ul>ページ一覧</ul>
        <ul class="nav nav-pills nav-stacked">
          <% @wikipages.each_with_index do |wikipage, i| %>
            <li>
              <% if wikipage.wikipage_id == 1 %>
                <%= link_to wikipage.title, "/wiki/#{wikipage.wiki_id}/index" %>
              <% else %>
                <%= link_to wikipage.title, "/wiki/#{wikipage.wiki_id}/#{wikipage.wikipage_id}/show" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="span9"><%= @toppage.body.html_safe %></div>
    </div>
  </div>
<% end %>
