<h1>Wikiへようこそ！</h1>
<p>Owner ID		: <%= @wiki.owner_id %></p>
<p>Wiki ID		: <%= @wiki.wiki_id %></p>
<p>Story ID 	: <%= @wiki.page_id %></p>
<p>Wiki Title : <%= @wiki.title %></p>
<p>Wiki Body 	: <%= @wiki.body %></p>
