<%# Wikiのページ観覧 %>
<%# /wiki/:id/:sub_id/show %>
<div class="container">
    <%= render :partial => "list" %>

    <center> 
      <h1><%= @wiki.title %></h1>
    </center>
    <div class="row">
      <div class="span3">
        <ul>ページ一覧</ul>
        <ul class="nav nav-pills nav-stacked">
          <% @wikipages.each_with_index do |wikipage, i| %>
            <li>
              <% if wikipage.wikipage_id == 1 %>
                <%= link_to wikipage.title, "/wiki/#{wikipage.wiki_id}/index" %>
              <% else %>
                <%= link_to wikipage.title, "/wiki/#{wikipage.wiki_id}/#{wikipage.wikipage_id}/show" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="span9"><%= @page.body.html_safe %></div>
    </div>
  </div>
</div>
