<%= form_for @test, :url => {:action => "/test/#{params[:id]}/update"} do |f| %>
	<% @test.questions.each_with_index do |question, i| %>
		<%= question.question_id %>問目 : 
		<p><%= question.body %></p>
		<br />
		<% if question.kind == 1 %>
			選択肢 : <br />
			<% question.choices.each_with_index do |choice, j| %>	
				<%= choice.choice_id %> : 
				<%= choice.choice_text %>
			<% end %>
		<% elsif question.kind == 2 %>

		<% elsif question.kind == 3 %>

		<% end %>
	<% end %>
<% end %>
