<%= link_to "テストの新規作成", "/test/new" %>
<h1>テストの一覧</h1>

<table>
	<tr>
		<th>テスト番号</th>
		<th>タイトル</th>
		<th>問題数</th>
		<th>制限時間</th>
		<th>作成日時</th>
		<th>更新日時</th>
	</tr>
	<% @tests.each_with_index do |test, i| %>
		<tr>
			<td><%= test.id %></td>
			<td><%= link_to test.title, "/test/#{i + 1}/show" %></td>
			<td><%= test.questionNum %></td>
			<td>
				<% if test.min == 100 and test.sec == 100 %>
					なし
				<% elsif test.sec == 100 %>
					<%= test.min %> : 00
				<% else %>
					<%= test.min %> : 
					<%# 応急処置(後で変える) %>
					<% if test.sec < 10 %>
						0<%= test.sec %>
					<% else %>
						<%= test.sec %>
					<% end %>
				<% end %>
			</td>
			<td>
				<%= test.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
			</td>
			<td>
				<%= test.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
			</td>
		</tr>
	<% end %>
</table>	
