<div class="hero-unit">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        <h1>暗記君 ONLINE</h1>
        <h2>貴方の学習をサポートします！！</h2>
      </div>
      <!--
      縦棒で区切ってかっこ良くするつもり
      <div class="offset1">
        <table style="height: 150px; width: 1px; background-color: gray; border-collapse: collapse;">
          <tr>
            <td></td>
          </tr>
        </table>
      </div>
      -->
      <div class="span5 offset1">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= render "devise/shared/links" %>
          <%= f.label "メールアドレス" %>
          <%= f.email_field :email %>

          <%= f.label "パスワード" %>
          <%= f.password_field :password %>

          <% if devise_mapping.rememberable? -%>
            パスワードを保存 : <%= f.check_box :remember_me %>
          <% end -%>

          <br />

          <%= f.submit "ログイン" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
