<%= javascript_include_tag "exam_new.js" %>
<div class="container">
	<div id="header">
		<h1>テストの新規作成</h1>
  </div>

  <div class="row">
    <%= form_tag("/exam/create", :multipart => true) do %>
      <!--
			完成してない。
			<p>テストタイプ : 
				<select name="exam[type]">
				 <option value="nomal">通常採点</option>
					<option value="admin">提出採点</option>
				</select>
			</p>
			-->
			<p>テスト名 : <input type = "text" name = "exam[title]" onKeyPress="return submitStop(event);"/></p>

			<p>
			制限時間(入力しなくても良い) :
			<!-- ここでは、都合が悪いため、あえてselectを使用する -->
			<select name = "exam[min]">
				<option value = "">分</option>
				<% 60.times do |t| %>
					<option value="<%= t+1 %>"><%= t+1 %></option>
				<% end %>
			</select>
			 :
			<select name = "exam[sec]">
				<option value = "">秒</option>
				<% 60.times do |t| %>
					<option value="<%= t %>">
						<% if t < 10 %>
							<%= "0" + t.to_s %>
						<% else %>
							<%= t %>
						<% end %>
					</option>
				<% end %>
			</select>
			</p>

			<div id = "form0">
				<% @questions.each_with_index do |question, i| %>
					<% @question = question %>
					<%= i + 1 %>問目 : 
					<select name = "question[<%= i %>][kind]">
						<option value="0">選択してください</option>
						<option value="1">N択問題</option>
						<option value="2">○×問題</option>
            <option value="3">一問一答</option>
            <option value="4">穴埋問題</option>
						<!--
						<option value="5">記述問題</option>
						-->
					</select>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
