<%= javascript_include_tag "exam_show.js" %>

<h1><%= @exam.title %></h1>

<form name = "timer">
	<p>
		<% if @exam.min == 100 and @exam.sec == 100 %>
			制限時間はありません
		<% elsif @exam.min == 100 %>
			<% @exam.min = 0 %>
			制限時間 : 
			<input type = "text" value = "<%= @exam.min %>" />分
			<input type = "text" value = "<%= @exam.sec %>" />秒
		<% else %>
			制限時間 : 
			<input type="text" value="<%= @exam.min %>" />分
			<input type="text" value="<%= @exam.sec %>" />秒
		<% end %>
	</p>
</form>

<%= form_tag("/exam/#{params[:id]}/check", :id => "examForm", :multipart => true) do %>
	<% @exam.questions.each_with_index do |question, i| %>
		<%= question.question_id %>問目の問題 - 
		<% case question.kind %>
		<% when 1 %>
			選択問題<br />
			<p><%= question.body %></p>
			選択肢 : <br />
      <% question.choices.each_with_index do |choice, j| %>
				<%= j + 1 %> : <%= choice.choice_text %>
				<%= check_box("question[#{i}][choices][#{j}]", "right", {}, "t", "f") %>
				<br />
			<% end %>
			<br />
		<% when 2 %>
			○×問題
			<p><%= question.body %></p>
			○× : <br /> 
			<select name = "question[<%= i %>][choices][0][right]" %>
				<!--
				<option value = "">選択してください</option>
				-->
				<option value = "1">○</option>
				<option value = "0">×</option>
			</select>
			<br />
			<br />
		<% when 3 %>			
			一問一答<br />
			<p><%= question.body %></p>
			答えは、
      <%= text_field_tag "question[#{i.to_s}][choices][0][choice_text]" %>
    <% when 4 %>
      穴埋め<br />
      <p>
      <% j = 0 %>
      <%# #{~}にマッチするものをテキストボックスに変換 %>
      <% html_str = question.body.gsub(/#\{[^\}]+\}/) {|m| %>
        <% m = "<input question[#{i.to_s}][choices][#{j.to_s}][choice_text] />" %>
        <% j += 1 %>
        <% m %>
      <% } %>
      <%= html_str.gsub(/(\r\n?)|(\n)/,"<br />").html_safe() %>
      </p>
		<% end %>
	<% end %>
	<p><%= submit_tag("答え合わせをする", :confirm => "送信しますか？") %></p>
<% end %>
