<!DOCTYPE html>
<html>
  <head>
  <title>Ankikun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", "bootstrap-responsive" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- メニューバー -->
  <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
        <a class="brand" href="http://localhost:3000">
          暗記君 ONLINE
        </a>
				<div class="nav-collapse">
					<ul class="nav">
            <li class="dropdown">
            <a href="http://localhost:3000/wiki/index" class="dropdown-toggle" data-toggle="dropdown">
              勉強、まとめ
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "まとめの一覧", "http://localhost:3000/wiki/index" %></li>
              <li><%= link_to "まとめの新規作成", "http://localhost:3000/wiki/new" %></li>
            </ul>
            </li>
            <li class="dropdown">
              <a href="http://localhost:3000/wiki/index" class="dropdown-toggle" data-toggle="dropdown">
                質問
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "質問の一覧", "http://localhost:3000/ask/index" %></li>
                <li><%= link_to "質問の新規作成", "http://localhost:3000/ask/new" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="http://localhost:3000/wiki/index" class="dropdown-toggle" data-toggle="dropdown">
                試験
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "試験の一覧", "http://localhost:3000/exam/index" %></li>
                <li><%= link_to "試験の新規作成", "http://localhost:3000/exam/new" %></li>
              </ul>
            </li>
					</ul>
				</div>
			</div>
		</div>
  </div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>

</html>
