<!DOCTYPE html>
<html>
<head>
  <title>Ankikun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", "bootstrap-responsive" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
        <a class="brand" href="http://localhost:3000">
          暗記君 ONLINE
        </a>
				<div class="nav-collapse">
					<ul class="nav">
            <% case controller.controller_name %>
            <% when "wiki" %>
              <li class="active"><%= link_to "勉強、まとめ", "http://localhost:3000/wiki/index" %></li>
              <li><%= link_to "質問", "http://localhost:3000/ask/index" %></li>
              <li><%= link_to "試験", "http://localhost:3000/exam/index" %></li>
            <% when "ask" %>
              <li><%= link_to "勉強、まとめ", "http://localhost:3000/wiki/index" %></li>
              <li class="active"><%= link_to "質問", "http://localhost:3000/ask/index" %></li>
              <li><%= link_to "試験", "http://localhost:3000/exam/index" %></li>
            <% when "exam" %>
              <li><%= link_to "勉強、まとめ", "http://localhost:3000/wiki/index" %></li>
              <li><%= link_to "質問", "http://localhost:3000/ask/index" %></li>
              <li class="active"><%= link_to "試験", "http://localhost:3000/exam/index" %></li>
            <% else %>
              <li><%= link_to "勉強、まとめ", "http://localhost:3000/wiki/index" %></li>
              <li><%= link_to "質問", "http://localhost:3000/ask/index" %></li>
              <li><%= link_to "試験", "http://localhost:3000/exam/index" %></li>
            <% end %>
					</ul>
				</div>
			</div>
		</div>
  </div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>

</html>
